a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 14px;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* Header contnent */

.header-top {
  width: 85%;
  height: 20%;
}

.nav-conteiner {
  display: flex;
  justify-content: space-between;
}

.nav-conteiner > nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-conteiner > nav > ul > li {
  background-color: black;
  margin-right: 0.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-conteiner > nav > ul > li > a {
  padding: 10px;
  display: block;
}

.header-btn > a {
  color: white;
}
.header-btn > a:hover {
  background-color: white;
  color: black;
}

/* Page content */
.page {
  display: block;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: center;
}

.page-header {
  display: flex;
  height: 20%;
  width: 100%;
}

/* Left-header content */
.page-header-link {
  width: 15%;
}

.header-left > div > img {
  width: 100%;
  mix-blend-mode: multiply;
}

/* header-bottom content */

.header-bottom-search {
  margin-right: 1em;
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.goods-srch {
  width: 300px;
  padding: 10px;
  margin-right: 1em;
  border: none;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
}

.srch-link {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.srch-link:hover {
  color: black;
  background-color: white;
}

/* Header-bottom-btns content */

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.header-bottom-menu {
  display: flex;
  /* margin-left: 200px; */
}

#checkbox_toggle {
  display: none;
}

.humburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburger-line {
  background-color: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}

.hamburger-line::before {
  top: 7px;
}

.hamburger-line::after {
  bottom: 7px;
}

.header-bottom-menu-humburger {
  display: flex;
}

.header-bottom-menu-btns {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  height: 100%;
  border-radius: 10px;
  margin-right: 10px;
  width: 75px;
}

.header-bottom-menu-btns-text {
  color: black;
  text-decoration: none;
}

.header-bottom-menu-btns:hover {
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

/* Page content */

.page-body-sumup {
  display: flex;
}

.back-to-main {
  color: grey;
}

.page-body-laptops-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.page-body-laptops-text-category {
  font-size: 40px;
  padding-bottom: 20px;
}

/* Catalog element  */

.page-body-card {
  display: flex;
  padding-bottom: 20px;
  cursor: pointer;
}

.page-body-card:hover {
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}

.img-link {
  align-self: center;
}

.page-body-card-img {
  padding-right: 30px;
  align-self: center;
}

.page-body-card-name {
  font-size: 25px;
  padding-right: 50px;
}

.page-body-card-name > a {
  color: black;
}

.page-body-card-param {
  display: flex;
  justify-content: space-between;
}

.param-list > li {
  list-style: none;
  padding: 5px 0 5px 0;
  font-size: 14px;
  color: black;
}

.page-body-card-price {
  width: 15%;
  align-self: flex-end;
  text-align: center;
}

.price {
  font-size: 24px;
  padding-bottom: 5px;
}

.to-cart-btn {
  border-radius: 5px;
  border: 1px solid;
  padding: 8px 20px 8px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color: white;
}

.to-cart-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
/* Filter css */

.filter-text {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.clear-btn {
  border: none;
  outline: none;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
}

.filter-element {
  padding-bottom: 10px;
}
.filter-element > span {
  font-weight: bold;
  font-size: 16px;
}

.filter-cost-input {
  display: flex;
  padding-top: 5px;
  align-items: center;
}

.input-cost-low,
.input-cost-high {
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
}

.filter-availability-check {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  border: 1px solid #ddd;
  outline: none;
  cursor: pointer;
}

.availability-checkbox > span {
  font-size: 16px;
}

.filter-availability-check-round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  cursor: pointer;
}

#checkbox_filter {
  display: none;
}

.filter-btn {
  display: none;
  cursor: pointer;
}

/* Footer */

.footer {
  width: 100%;
  margin-top: 20px;
  background-color: black;
  color: white;
  display: block;
}

.footer-links {
  display: flex;
}

.footer-contacts {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  width: 30%;
}

.footer-contacts-text {
  font-size: 36px;
}

.footer-contacts-shops-adress {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.footer-contacts-shops-adress > a {
  color: white;
}

.footer-contacts-pn {
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
  font-size: 16px;
}

.footer-contacts-pn-phone {
  padding-right: 20px;
  font-size: 18px;
}

.footer-contacts-askq {
  padding-top: 20px;
  padding-bottom: 30px;
}

.askquestion {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.askquestion:hover {
  background-color: black;
  color: white;
}

.footer-for-customer {
  margin-left: 20px;
  margin-top: 15px;
  width: 25%;
  font-size: 18px;
}

.footer-for-customer-elemnt {
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-for-customer-elemnt > a {
  color: white;
}

.footer-services {
  margin-left: 20px;
  margin-top: 15px;
  width: 25%;
  font-size: 18px;
}

.footer-services-elemnt {
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-services-elemnt > a {
  color: white;
}

.footer-chush {
  text-align: center;
}

/* Адаптивность */

@media (max-width: 1600px) {
  .page-body-card-name {
    font-size: 25px;
    padding-right: 50px;
  }
}

@media (max-width: 1280px) {
  .page-body-card-price {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .page-body-card-param {
    display: block;
  }
  .page-body-card-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .to-cart {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .header-bottom-menu {
    padding-top: 10px;
    padding-right: 10px;
  }

  .header-bottom-menu-humburger {
    max-height: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    margin-top: 50px;
    background-color: white;
  }

  .header-bottom-menu-btns {
    display: block;
    padding: 15px;
  }

  #checkbox_toggle:checked ~ .header-bottom-menu-humburger {
    display: block;
    max-height: 100%;
    max-width: 25%;
    margin-left: 75%;
  }

  .humburger {
    display: block;
    padding: 20px 0;
  }

  .page-body-filter {
    position: fixed;
    right: -220px;
  }

  .filter-btn {
    display: block;
  }

  #checkbox_filter:checked ~ .page-body-filter {
    right: 0;
    background-color: white;
    position: absolute;
    transition: all 0.2s ease;
  }
}
